@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 1.3rem;
}

.intro-image {
    background-attachment: fixed;
    background-image: url(../img/image1.jpg);
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex ;
    align-items: center ;
    justify-content: center;


}
.intro-image__link a {
    background-color: #66766ca1;
    border: 2px solid #66766c;
    color: #c1b9a2;
    display: inline-block;
    font-size: 5vw ;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2)  ;
    
}

.inro-text {
    background-color: #63513d;
    color: #c1b9a2;;
    display: flex ;
    align-items: center ;
    justify-content: center;
    height: 100%;
    padding: 3rem  15%;
    
}

.inro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url(../img/imege3.jpeg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex ;
    align-items: center ;
    justify-content: center;
}

.quality-image__link a {
    max-width: 70vw;
    background-color: #37373ca7;
    border: 2px solid #37373c;
    color: #c1b9a2;
    display: inline-block;
    font-size: 5vw ;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2)  ;

}

.quality-text {
    background-color: #866e68;
    color: #fad0a3;
    display: flex ;
    align-items: center ;
    justify-content: center;
    height: 100%;
    padding: 3rem  15%;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url(../img/image\ 2.jpeg);
    background-size: cover;
    background-position: right;
    height: 450px;
    display: flex ;
    align-items: center ;
    justify-content: center;

}

.origin-image__link a {
    background-color: #45231aaa;
    border: 2px solid #37373c;
    color: #c1b9a2;
    display: inline-block;
    font-size: 5vw ;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2)  ;

}

.origin-text {
    background-color: #603326;
    color: #c1b9a2;
    display: flex ;
    align-items: center ;
    justify-content: center;
    height: 100%;
    padding: 3rem  15%;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}    

.footer {
    height: 100%;
    background-color: #37373c;
    color:#b7bccb ;
    padding-top: 1vw;
    padding-bottom: 2.5vw;
    font-size: 1.2rem;
}

 .footer p {
    font-size: 1rem;
 }

.footer ul li {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5vw;
    margin-left: 5vw;
}

.footer ul li a {
    color:#b7bccb ;
    text-decoration: none;
    
}

.footer ul li a:hover {
    transition: all 1.5s ease-in-out;
   
    color: rgb(211, 57, 57);
    
}

.footer ul li:hover {
   
    transition: all 0.3s ease-in-out;
    
    transform: scale(1.2)  ;
}

